<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <link rel="icon" href="https://img.icons8.com/color/20/000000/dental-crown.png" sizes="20x20">
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="<%= seoContent %>" />
    <meta name="description" content="<%= description %>">
    <link rel="canonical" href="<%= pageUrl %>" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <!-- <link href="css/css_slider.css" type="text/css" rel="stylesheet" media="all"> -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- //css files -->

    <!-- google fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext"
        rel="stylesheet">
    <!-- //google fonts -->

    <!-- <link href="css/light-carousel.css" rel="stylesheet"> -->

</head>

<body>
    <%- include('./header.ejs') %>
    <%- body %>
    <h1 style="visibility:hidden;height:10px"><%= descriptionH1 %></h1>
    <%- include('./footer.ejs') %>
</body>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous">
</script>
<!-- <script src="js/jquery.light-carousel.js"></script>
<script>
    $('.sample1').lightCarousel();
</script> -->

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/dist/css/accordion-slider.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/silder_new.css" media="screen" />

<script type="text/javascript" src="/dist/js/jquery.accordionSlider.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // instantiate the accordion
        $('#example1').accordionSlider({
            width: 960,
            height: 400,
            responsiveMode: 'auto',
            visiblePanels: 3,
            closePanelsOnMouseOut: false,
            autoplay: true
        });

        // change the responsive mode
        $('.controls a').click(function (event) {
            event.preventDefault();

            if ($(this).hasClass('auto')) {
                // change the responsive mode to 'auto' and remove the 'custom-responsive' class
                $('#example1').removeClass('custom-responsive');
                $('#example1').accordionSlider('responsiveMode', 'auto');

                // change the arrows' visibility
                $('.auto-arrow').show();
                $('.custom-arrow').hide();
            } else if ($(this).hasClass('custom')) {
                // change the responsive mode to 'custom' and add the 'custom-responsive' 
                // class in order to use it as a reference in the CSS code
                $('#example1').addClass('custom-responsive');
                $('#example1').accordionSlider('responsiveMode', 'custom');

                // change the arrows' visibility
                $('.custom-arrow').show();
                $('.auto-arrow').hide();
            }
        });
    });
</script>

</html>