<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <link rel="icon" href="https://img.icons8.com/color/20/000000/dental-crown.png" sizes="20x20">
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="<%= seoContent %>" />
    <meta name="description" content="<%= description %>">
    <link rel="canonical" href="<%= pageUrl %>" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- css files -->
    <!-- <link href="css/css_slider.css" type="text/css" rel="stylesheet" media="all"> -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- //css files -->

    <!-- google fonts -->
    <link
        href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext"
        rel="stylesheet">
    <!-- //google fonts -->

    <!-- <link href="css/light-carousel.css" rel="stylesheet"> -->

    <link rel="stylesheet" type="text/css" href="./slick/slick.css">
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css">
    <style>
    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
  </style>
</head>

<body>
    <%- include('./header.ejs') %>
    <%- body %>
    <h1 style="visibility:hidden;height:10px"><%= descriptionH1 %></h1>
    <%- include('./footer.ejs') %>
</body>

<script src="https://code.jquery.com/jquery-2.2.0.min.js">
</script>
<!-- <script src="js/jquery.light-carousel.js"></script>
<script>
    $('.sample1').lightCarousel();
</script> -->

<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/dist/css/accordion-slider.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/silder_new.css" media="screen" />

<script type="text/javascript" src="/dist/js/jquery.accordionSlider.min.js"></script>


<script src="./slick/slick.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    $(document).ready(function(){
      $('.main-banner').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5000,
        centerMode: true,
        responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        autoplay: true,
        autoplaySpeed: 5000,
        centerMode: true,
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
      });

      $('.result-banner').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5000,
        centerMode: true,
        responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        autoplay: true,
        autoplaySpeed: 5000,
        centerMode: true,
      }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
      }
    }
  ]
      });
    });
</script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // instantiate the accordion
        $('#example1').accordionSlider({
            width: '100%',
            height: 400,
            responsiveMode: 'auto',
            visiblePanels: 5,
            closePanelsOnMouseOut: false,
            autoplay: true
        });

        // change the responsive mode
        $('.controls a').click(function (event) {
            event.preventDefault();

            if ($(this).hasClass('auto')) {
                // change the responsive mode to 'auto' and remove the 'custom-responsive' class
                $('#example1').removeClass('custom-responsive');
                $('#example1').accordionSlider('responsiveMode', 'auto');

                // change the arrows' visibility
                $('.auto-arrow').show();
                $('.custom-arrow').hide();
            } else if ($(this).hasClass('custom')) {
                // change the responsive mode to 'custom' and add the 'custom-responsive' 
                // class in order to use it as a reference in the CSS code
                $('#example1').addClass('custom-responsive');
                $('#example1').accordionSlider('responsiveMode', 'custom');

                // change the arrows' visibility
                $('.custom-arrow').show();
                $('.auto-arrow').hide();
            }
        });
    });
</script>

</html>