<!-- banner -->
<div class="innerpage-banner" id="home">
	<div class="inner-page-layer">
	</div>
</div>
<!-- //banner -->

<section class="about py-5">
	<div class="container py-md-3">
		<h2 class="heading text-center mb-sm-5 mb-4"><%= mainPageText['aboutUs'] %></h2>
		<div class="row">
			<div class="col-lg-8">
				<h4 class="about-left"><%= doctorName %> <%= designation %></h4>
				<p class="mt-sm-4 mt-3">
					<%= mainPageText['aboutUsText'] %>
				</p>
			</div>
			<div class="col-lg-4 col-md-8 dental">
				<img src="<%= doctorImage %>" class="img-fluid" alt="" />
			</div>
		</div>
	</div>
</section>