<!-- banner -->
<div class="innerpage-banner" id="home">
	<div class="inner-page-layer">
	</div>
</div>
<!-- //banner -->

<section class="gallery py-5" id="gallery">
	<div class="container py-lg-5">
		<h2 class="heading text-center mb-sm-5 mb-4"><%= galleryText %></h2>
		<div class="row news-grids text-center">
			<% 
			for (var i = 0; i < gallery.length; i++) {
			%>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal<%= i %>"><img src="<%= gallery[i]['small'] %>" alt="Shree ekdantam dental clinic gallery"
						class="img-fluid"></a>
			</div>
			<% } %>
		</div>

		<!-- popup1 -->
		<% 
			for (var i = 0; i < gallery.length; i++) {
			%>
		<div id="gal<%= i %>" class="pop-overlay">
			<div class="popup">
				<img src="<%= gallery[i]['big'] %>" alt="Shree ekdantam dental clinic gallery" class="img-fluid" />
				<p class="mt-4">
					<%= gallery[i]['text'] %>
				</p>
				<a class="close" href="#gallery">&times;</a>
			</div>
		</div>
		<% } %>
		<!-- //popup1 -->

	</div>
</section>