    <!-- banner -->
    <div class="banner" id="home">
        <div class="layer">
            <div class="container">
                <div>
                    <div class="row">
                        <div class="col-lg-12 p-0 banner-margin">
                            <div class="main-banner">
                                <% 
                                        for (var i = 0; i < banner.length; i++) {
                                    %>
                                    <div>
                                        <img height="400px" alt="<%= banner[i]['text'] %>"
                                            src="<%= banner[i]['image'] %>" data-src="<%= banner[i]['image'] %>"
                                             />
                                    </div>

                                    <% } %>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- //banner -->

    <!-- about -->
    <section class="about py-5">
        <div class="container py-md-3">
            <h2 class="heading text-center mb-sm-5 mb-4"><%= mainPageText['aboutUs'] %></h2>
            <div class="row">
                <div class="col-lg-8">
                    <h4 class="about-left"><%= doctorName %> <%= designation %></h4>
                    <p class="mt-sm-4 mt-3">
                        <%= mainPageText['aboutUsText'] %>
                    </p>
                </div>
                <div class="col-lg-4 col-md-8 dental">
                    <img src="<%= doctorImage %>" class="img-fluid" alt="<%= doctorName %>" title="<%= doctorName %>" />
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->

    <!-- services -->
    <section class="services py-5">
        <div class="container py-lg-5">
            <h3 class="heading text-center mb-sm-5 mb-4"><%- mainPageText.services %> </h3>
            <div class="row offer-grids">
                <% 
                var j=1;
                for (var i = 0; i < services.length; i++) {
                if(j>4){
                   j=0;
                   j=j+1; 
                }else{
                    j=j+1;    
                } 
                %>
                <div class="row col-lg-6 mb-5 padder-none services-ui">
                    <div class="col-sm-3 ser_icon">
                        <span class="icon bg<%= j %> mx-auto">
                            <span class="fa fa-user-md"></span>
                        </span>
                    </div>
                    <div class="col-sm-9 mt-sm-0 mt-3">
                        <h4><%= services[i] %></h4>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </section>
    <!-- //services -->